@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Base style for all pagination bullets */
.swiper-pagination-bullet {
  @apply bg-[#E5F4EC] opacity-60 w-3 h-3 rounded-full transition-all duration-300 ease-in-out; /* Circular shape and smooth transition */
}

/* Style for the active pagination bullet */
.swiper-pagination-bullet-active {
  @apply bg-[#00943F] opacity-100 w-6 h-3 rounded-full; /* Increase width and make it oval */
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

